body {
}
/***  Flexbox for Home/Index page layout*****/
.flexContainer 
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    opacity:1;
  
}
.headerButtons
{
    width: 100%;
    text-align:center;
    
}
.flexContainer>.dbItem
{
  border: white;
  margin: 40px;
  padding: 40px;
}
img.img-responsive{
    height:300px;
    width:400px;
    
}
p{
    margin-top:80px;
}
h2, h4, h3 {
    text-align:center;
}

p{
    align-items:center;
}